html, body {
            height: 100%;
        }

        body {
            padding: 0px;
            margin: 0px;
            height: 100%;
            background: #f5f5f5 url('../images/broken_noise.png') repeat;
        }

        #canvasContainer {
            -webkit-transition: -webkit-transform ease-in 0.3s;
        }

        #pageContainer {
            transition: top ease-in 0.2s, left ease-in 0.2s, box-shadow ease-in 0.2s, -webkit-transform ease-in 0.2s;
            transition-delay: 0.2s;
            -webkit-transform: scale(0.95,0.95);
        }

        .zoomOut {
            z-index: -1;
            -webkit-transform: scale(0.95,0.95);
        }

        .slideIn {
            top: 0% !important;
            -webkit-transform: scale(1,1) !important;
        }

        .peek {
            top: 95% !important;
            -webkit-transform: scale(0.95,0.95);
            box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
        }

        @-webkit-keyframes fadeTint {
            to {
                opacity: 0;
            }
        }

        @-webkit-keyframes slideIncard {
            from {
                margin-left: 50px;
            }

            to {
                opacity: 0;
                margin-left: 100px;
            }
        }


        #card2 {
            -webkit-animation-delay: 0.1s;
        }

        .fadeTintDiv {
            -webkit-animation-name: fadeTint;
            -webkit-animation-duration: 0.5s;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-play-state: running;
        }

        table {
            padding: 0px;
            border-spacing: 0px;
            table-layout: fixed;
        }

        tr, td {
            border-spacing: 0px;
            padding: 0px;
        }
